*{
    margin: 0;
    padding: 0;
}

.bg{
    background-color: #197bfb;
    background-image: linear-gradient(270deg, #197bfb 0%, #B721FF 100%);   
}

 .button{
    width: 80px;
    height: 80px;
    margin: 2px;
}

.resultado{
    width: 335px;
    height: 70px;
    background-color: whitesmoke;
}

.calculadora{
    position: relative;
    left: 550px;
    top: 200px;
}

 